.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio li {
    border: .4em solid black;
    background-color: #FAFFFC;
    box-sizing: border-box;
    padding: .8em;
    margin-right: .8em;
    margin-bottom: .8em;
    flex: 1 1 45%
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portfolio li:first-child{
    flex-basis: 100%;
}
